<footer>
    <div>
        <h1>PICCOLI GUIDO AUGUSTO</h1>
    </div>
    <div>
        <h1>PROGRAMACION I</h1>
    </div>
    <div class="fechayhora">
        <div class="fechayhora_contenido">
            <h1>Fecha:</h1>&nbsp 
            <script src="js/fecha.js"></script>
        </div>
        <br/>
        <div class="fechayhora_contenido">
            <h1>Hora:</h1>&nbsp 
            <div id="reloj"></div>
            <script src="js/hora.js"></script>
        </div>
    </div>  
</footer>