.contenedor_tabla_datos {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    margin-top: 50px;
}

table {
    color: #fff;
    font-size: 30px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 5px solid #000;
    text-shadow: 2px 2px 2px #000;
}

thead {
    text-transform: uppercase;
    font-weight: 700;
    border: 5px solid #000;
}

th {
    padding: 15px 60px;
    border: 5px solid #000;
}

th:nth-child(3) {
    padding: 15px 90px;
}

tbody {
    text-align: center;
    font-size: 25px;
}

td {
    padding: 15px;
    border: 5px solid #000;
}